@use './reset.scss';
@use   './variables/global.scss';
@use   './themes/dark.scss';
@use './themes/normal.scss';



.app {
    font: var(--font-m);
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.content-page{
    display: flex;
}

.page-wrap {
    flex-grow: 1;
    padding: 20px 20px 20px 40px;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    flex-shrink: 100;
}