.Modal {
   display: none;
   
     &.opened {
        position: fixed;
        inset: 0;
        display: block;
        z-index: var(--modal-z-index);
     }
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 5px;
    border-radius: 1px;
    background-color: var(--bg-color);
    transition: 0.3s transform;
    
    &.closing {
        transform: scale(0.1);
    }

}

.sb-story-main {
  color: var(--bg-color);
}



