.ArticlePreview {
    min-height: 100%;
    width: 100%;
}

.avatar {
    margin: 0 auto;
}

.title {
   margin-top: 20px;
}

.skeleton {
    margin-top: 15px;
}

.info {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 5px;
}

.block {
    margin: 30px 0;
}