.CreaateArticleCardHeader{
    width: 100%;
    border: 2px solid var(--primary-color);
    padding: 10px;
    margin: 50px 0;
    background: var(--inverted-bg-color-accent);
   
}

.avatar {
    margin-bottom: 10px;
}

.saveBtn {
    margin-right: 10px;
}

.readonly {
    border: 1px solid var(--primary-color)
}