.RegistrationForm {
    width: 500px;
    min-width: 100px;
    padding: 20px;
    justify-content: space-between;
    border: 1px solid var(--primary-color);
}

.inputWrap {
    width: 100%;
    margin-top: 20px;
}

.buttonWrap {
    margin: 5px;
    display: flex;
    justify-content: flex-end;
}