.ProfileCard {
    border: 1px solid var(--primary-color);
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.profileData {
    margin-top:  20px;
}