.TextAreaWrap {
    display: flex;
    align-items: center;
    width: 100%;
}

.textArea {
    border: 1px solid var(--primary-color);
    outline: none;
    background-color: var(--bg-color);
    color: var(--primary-color);
    padding: 5px;
    font-family: var(--font-family-main) ;
    width: 100%;
    min-height: 100px;
    margin: 10px 0;


    &.readonly {
        opacity: 0.7;
    }
}
